<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449915173434-3ef5sl6ak9k5gdec5h9s6ob86rafsoot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449915173434-3ef5sl6ak9k5gdec5h9s6ob86rafsoot</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>449915173434-bip53ibfs7cudrb2oc1tlka4p720krs7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDINlEV3yMy1yQI1Lz7AidzDne_1ja_tzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>449915173434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mnb.smartcalling.smartcalling</string>
	<key>PROJECT_ID</key>
	<string>smart-calling-adad0</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-calling-adad0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449915173434:ios:b105a4eb21faba2ee2d303</string>
	<key>DATABASE_URL</key>
	<string>https://smart-calling-adad0-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>